---
layout: piece
---

<div class="masthead" style="background-image: url('/assets/img/iproov/masthead.png');">
    <div class="container">
        <div class="box">
            <h1>Preparing a startup for sudden growth</h1>
            <p>
                When a biometric authentication startup has spent 6 years in R&D and is finally ready to hit the mass-market, a lot of things need to be in place.
            </p>
            <p>
                I was brought in to help solve internal bottlenecks and create a scalable onboarding platform.
            </p>
        </div>
    </div>
</div>

<!-- The challenge -->
<section>
    <div class="readable">
        <p class="mb-5 disclaimer">
            <em>Note: due to the confidential nature of the work, I'm unable to go into too much detail or show too many samples.</em><br/><br/>
        </p>

        <h2>The Challenge</h2>
        <p>
            Unable to manually handle the influx of new customers, I was hired as an all-round UX, UI and engineer to come in and create an integrated and streamlined customer onboarding process.
        </p>
        <p>
            We worked together to establish a clearly articulated problem statement:
        </p>
        <blockquote>
            How can we enable the company to support the sudden rapid growth in customer base?
        </blockquote>
        <p>
            Flip it on its head, break it down:
        </p>
        <ul>
            <li>Who are the customers?</li>
            <li>What are the current bottlenecks and pain points?</li>
            <li>How can we use technology to enable effective self-service?</li>
        </ul>
    </div>
</section>

<!-- The solution: introducing the partner portal -->
<section class="grey centered pb-4" id="the-solution">
    <p class="superheading">The solution</p>
    <h2>Introducing the Partner Portal</h2>

    <div class="image-row">
        <div class="row">
            <div class="col-sm">
                {% include components/figure.html
                    src="iproov/dashboard.png"
                    caption="Total visibility of onboarding pipeline" %}
            </div>
            <div class="col-sm">
                {% include components/figure.html
                    src="iproov/account-setup.png"
                    caption="Bespoke account set-up for ultimate flexibility" %}
            </div>
        </div>
    </div>

    <div class="image-row">
        <div class="row">
            <div class="col-sm">
                {% include components/figure.html
                    src="iproov/legal.png"
                    caption="Streamlined handling of legal paperwork" %}
            </div>
            <div class="col-sm">
                {% include components/figure.html
                    src="iproov/pricing.png"
                    caption="Comprehensive pricing options" %}
            </div>
        </div>
    </div>
</section>

<!-- How we got there -->
<section>
    <div class="readable">
        <p class="superheading">How we got there</p>
        <h2>Modelling client relationships</h2>
        <p>
            We had to understand the customers and different types of client relationships. iProov had already formed several relationships with other organisations, and we could use these as prototypical examples of the different types of B2B and B2C relationships to design for.
        </p>
        <p>
            An examination of the general commercial structure of each of these relationships allowed me to create a set of abstracted client relationship models, which we could use almost as “commercial personas”.
        </p>
    </div>
    <div class="image-row">
        <div class="row">
            <div class="col-sm">
                {% include components/figure.html
                    src="iproov/hierarchies.png"
                    caption="Reseller hierarchies" %}
            </div>
            <div class="col-sm">
                {% include components/figure.html
                    src="iproov/relationships.png"
                    caption="Commercial relationships" %}
            </div>
        </div>
    </div>

    <div class="readable">
        <h2>Mapping the onboarding process</h2>
        <p>
            We had to understand the internal bottlenecks and pain points. Through interviews with each member of the sales and business teams I was able to map out the entire onboarding process — from the legal paperwork, to deploying proof-of-concept service integrations, to billing and invoicing customers.
        </p>
    </div>
    <img src="/assets/img/iproov/experience-map.png" class="img-fluid my-5">
    <div class="readable">
        <p>
            The more we looked at it, the more we saw that this problem wasn’t just with onboarding. It actually extended to almost all of the primary business functions, across not just the lead life-cycle but also the entire client relationship.
        </p>
        <p>
            So we created a map of these functions, and began to look at the requirements for each of them.
        </p>
    </div>
    <img src="/assets/img/iproov/business-functions.png" class="img-fluid my-5">
    <div class="readable">
        <p>
            Now that we had our own business requirements broken down and mapped out, we could ask the golden question: how could we create a scalable, end-to-end business support system that encompassed sales, onboarding, support, reporting, billing and invoicing?
        </p>
    </div>
    <img src="/assets/img/iproov/data-flow.png" class="img-fluid my-5">
    <div class="readable">
        <h2 class="mt-5">Service experiments</h2>
        <p>
            The first step towards finding an answer was to take each component business function and find out what off-the-shelf services were already available out there. From there on we’d be able to work out how much custom application we’d nee. We undertook a market review and evaluated key products and services.
        </p>
        <p>
            With a short-list of services, we could now look creating proof-of-concept integrations to see how we could possibly tie them all together in a way that would meet our business requirements.
        </p>
    </div>
    <div class="image-row">
        <div class="row">
            <div class="col-sm">
                {% include components/figure.html
                    src="iproov/freshdesk-docs.png"
                    caption="We pored over developer documentation" %}
            </div>
            <div class="col-sm">
                {% include components/figure.html
                    src="iproov/freshdesk-code.png"
                    caption="We wrote a lot of code" %}
            </div>
        </div>
    </div>
    <div class="readable">
        <p>
            After months of experimentation with different services, APIs, architectures and schemas, I was able to put together a proposal for a solution that would unify and integrate the key internal business processes.
        </p>
    </div>
</section>
<section class="pt-0">
    <div class="readable">
        <p class="superheading">And finally...</p>
        <h2>Sketching out a customer self-service platform</h2>
        <p>
            There was, however, one last critical piece of the puzzle: how were we going to bring the customers themselves directly into these processes? We had to understand how we could create a customer-facing onboarding process that would be simple for customers but also reduce the workload on iProov.
        </p>
        <p>
            This was actually the easiest part of the project, because by now we’d already done most of the heavy lifting. We had:
        </p>
        <ol>
            <li>A clear set of business requirements</li>
            <li>A clear, validated vision of a service architecture unified under the Partner Portal</li>
        </ol>
        <p>
            I could get straight to work modelling customer tasks, sketching out journey maps, and finding the simplest ways to implement customer interactions.
        </p>
    </div>
    <div class="image-row">
        <div class="row">
            <div class="col-sm">
                {% include components/figure.html src="iproov/journeys.png" caption="User journeys" %}
            </div>
            <div class="col-sm">
                {% include components/figure.html src="iproov/wireflows.png" caption="Wireflows" %}
            </div>
        </div>
    </div>
    <div class="image-row">
        <div class="row">
            <div class="col-sm">
                {% include components/figure.html src="iproov/wireframe-1.png" caption="Wireframes" %}
            </div>
            <div class="col-sm">
                {% include components/figure.html src="iproov/wireframe-3.png" caption="Prototypes" %}
            </div>
            <div class="col-sm">
                {% include components/figure.html src="iproov/wireframe-2.png" caption="User testing" %}
            </div>
        </div>
    </div>
    <div class="readable">
        <h2>Lastly, the UI</h2>
        <p>From here on it was just a matter of developing these wireframes into fully-realised UI documents. In fact, by relying heavily on the Bootstrap CSS framework I was able to go straight from wireframes into React components. During this process I made ongoing changes to the CSS where appropriate so that the Portal began to take on its own visual identity.</p>
    </div>
    <div class="image-row">
        <div class="row">
            <div class="col-sm">
                {% include components/figure.html src="iproov/11.png" %}
            </div>
            <div class="col-sm">
                {% include components/figure.html src="iproov/12.png" %}
            </div>
        </div>
    </div>
</section>
<!-- The results -->
<section class="grey pb-5" id="the-solution">
    <div class="readable">
        <p class="superheading">The Results</p>
        <h2>New visibility, rapid growth</h2>
        <h3>New powers granted</h3>
        <p>
            With a new internal visibility of the entire onboarding pipeline and customer life-cycle, iProov have unlocked new powers of responsiveness, agility, and customer service.
        </p>
        <h3>No more lost customers</h3>
        <p>
            No more missing emails, lost phone memos, forgotten NDA signatures. The new system is watertight, and iProov customers were no longer falling through the net.
        </p>
        <h3>Rapid increase in customer onboarding</h3>
        <p>
            When we put the new self-service portal live, iProov went from onboarding less than 5 customers a week, to more than 50.
        </p>
        <p>
            If you’re looking for a new sales / account management role, iProov is now hiring...
        </p>
    </div>
</section>
